<footer>
      <div class="container">
        <div class="row">
          <div class="d-flex justify-content-between align-self-end">
            <div class="col-2">
              <p class="git-footer">@2022
                <a href="https://github.com/AkulichNV" class="link-dark">AkulichNV</a>
              </p>
            </div>
            <div class="col-1">
              <a href="https://rs.school/js-en/">
                <img class="img-fluid" src="https://rs.school/images/rs_school_js.svg" alt="rsschool" >
              </a>
            </div>
          </div>
        </div>
      </div>
</footer>
