<div class="container home-page">
  <div class="row">
    <div class="col-md-6 welcome-card">
      <span class="border rounded-pill welcome-line">Welcome to Alliance</span>
      <h1 class="title">The Best Way<br>
      to <span class="border border-info border-3 startMng">Manage</span> your<br>
    Teamwork</h1>
      <p>The App help you organize the work neatly in a team,<br>in order to make it easier for all to work quickly and on time.</p>
      <button type="button" class="btn btn-info text-white rounded-pill startBtn">Get Started</button>
    </div>
    <div class="col-md-6">
      <img src="./assets/img/home-img2.png" class="img-fluid float-end" alt="home-img">
    </div>
  </div>
</div>
